$accordion-expand-size: 24px;

.accordion-heading {
    width: 100%;
    padding: $padding-small $padding-large;
    padding-right: $padding-large + $accordion-expand-size;

    cursor: pointer;
    text-align: left;

    color: $accent-color;
    border: none;
    border-radius: 0;
    background-color: $foreground-color;

    font-weight: 700;

    @media screen and (max-width: $page-breakpoint-small) {
        padding: $padding-small $padding-medium;
    }

    i {
        position: absolute;
        right: $padding-large;
        top: 0;
        bottom: 0;

        width: $accordion-expand-size;
        height: $accordion-expand-size;
        margin: auto;

        transition: transform 0.2s $m-ease;
        transform: rotateX(0deg);

        font-size: $accordion-expand-size;
    }

    &.accordion-expanded i {
        transform: rotateX(180deg);
    }
}

.accordion-panel {
    overflow: hidden;

    max-height: 0;
    padding: 0 $padding-large;

    transition: max-height 0.5s $m-ease;

    border-bottom: $border-width solid $border-color;

    @media screen and (max-width: $page-breakpoint-small) {
        padding: 0 $padding-medium;
    }

    &:last-child {
        border-bottom: none;
    }
}
