:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
} 

input,
button,
textarea,
label.button,
label.checkbox,
label.radio,
input[type="file"] + label {
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: $padding-small;

    resize: none;

    border: none;
    border-radius: $border-radius;
    outline: none;
    background-color: $foreground-color;

    font-size: 0.9rem;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;

    &.input-connect-top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &.input-connect-noborder-top {
        border-top: none;
    }

    &.input-connect-bottom {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.input-connect-noborder-bottom {
        border-bottom: none;
    }

    &.input-connect-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.input-connect-noborder-left {
        border-left: none;
    }

    &.input-connect-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.input-connect-noborder-right {
        border-right: none;
    }
}

input,
textarea {
    transition: border-color 0.1s ease, color 0.1s ease;

    border: $border-width solid $border-color;

    flex: 1;

    &:focus {
        border-color: $accent-color;
    }

    &::placeholder {
        color: $text-color-detail;

        font-style: italic;
    }
}

input[type="file"],
input[type="checkbox"],
input[type="radio"] {
    display: block;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    opacity: 0;
    border: none;

    flex: 0;
}

button:focus,
label.button:focus,
input[type="file"]:focus + label.button {
    color: $accent-color;
    background-color: $accent-color-focus;
}

button,
label.button,
input[type="file"] + label {
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease, opacity 0.1s ease;
    text-align: center;
    letter-spacing: 0.02rem;
    text-transform: uppercase;

    color: $accent-color;
    border: $border-width solid $accent-color;
    background-color: $foreground-color;

    flex: 1;

    &.button-small {
        width: auto;
        padding: $padding-small $padding-medium;

        flex: none;
    }

    &:hover {
        color: $foreground-color;
        background-color: $accent-color-hover;
    }

    &:active {
        color: $foreground-color;
        background-color: $accent-color-active;
    }

    &:disabled {
        cursor: auto;

        opacity: 0.5;
        color: $accent-color;
        background-color: $foreground-color;
    }
}

$checkbox-size: 21px;

label.checkbox {
    padding-left: calc(#{$checkbox-size} + #{$padding-small});

    cursor: pointer;

    user-select: none;

    svg {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        width: $checkbox-size;
        height: $checkbox-size;
        margin: auto;

        transition: background-color 0.1s ease;

        border: $border-width solid $accent-color;
        border-radius: $border-radius;
        background-color: $foreground-color;

        polyline {
            transition: stroke-dashoffset 0.12s ease-in-out, stroke 0.02s ease-in-out 0.1s;

            fill: none;
            stroke: transparent;
            stroke-dasharray: 18px;
            stroke-dashoffset: 18px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: $border-width;
        }
    }

    &:hover,
    &:focus {
        svg {
            background-color: $accent-color-hover;
        }
    }

    &:active svg {
        background-color: $accent-color-active;
    }

    &:hover,
    &:active {
        input[type="checkbox"]:checked {
            & + svg polyline {
                stroke: $foreground-color;
            }
        }
    }

    input[type="checkbox"] {
        &:checked {
            & + svg {
                polyline {
                    transition: stroke-dashoffset 0.12s ease-in-out, stroke 0.02s ease-in-out;

                    stroke: $accent-color;
                    stroke-dashoffset: 0;
                }
            }

            &:hover,
            &:focus,
            &:active {
                & + svg {
                    polyline {
                        stroke: $foreground-color;
                    }
                }
            }
        }

        &:hover + svg,
        &:focus + svg {
            background-color: $accent-color-hover;
        }

        &:active + svg {
            background-color: $accent-color-active;
        }
    }
}

.radio-group {
    @media screen and (max-width: $page-breakpoint-medium) {
        padding-bottom: $padding-gap;
    }
}

label.radio {
    display: inline-block;

    width: auto;

    cursor: pointer;

    @media screen and (max-width: $page-breakpoint-medium) {
        display: block;
    }

    span,
    .radio-inner {
        display: inline-block;

        vertical-align: middle;
    }

    span {
        padding-left: $padding-small;

        transition: color 0.1s ease-in-out;

        color: $text-color;
    }

    .radio-inner {
        position: relative;

        width: $checkbox-size;
        height: $checkbox-size;

        border: none;
        border-radius: $checkbox-size;
        background-color: $accent-color;

        &::before {
            position: absolute;
            left: $border-width;
            right: $border-width;
            top: $border-width;
            bottom: $border-width;

            margin: auto;

            content: "";
            transition: transform 0.1s ease-in-out;
            transform: scale(1);

            border: none;
            border-radius: $checkbox-size;
            background-color: $foreground-color;
        }
    }

    &:hover {
        .radio-inner::before {
            transform: scale(0.8);
        }
    }

    &:focus,
    &:active {
        .radio-inner + span {
            color: $accent-color;
        }
    }

    &:active {
        .radio-inner::before {
            transform: scale(1);
        }
    }

    input[type="radio"] {
        &:checked {
            & + .radio-inner {
                &::before {
                    transform: scale(0.5);
                }
            }
        }

        &:focus {
            & + .radio-inner + span {
                color: $accent-color;
            }
        }
    }
}
