.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-container {
    padding: $padding-small 0;
}

.flex-padding-gap {
    flex: $padding-gap 0;
}

.flex-padding-small {
    flex: $padding-small 0;
}

body {
    position: relative;

    margin: 0;
    padding: 0 $padding-medium;

    background-color: $background-color;

    @media screen and (max-width: 48rem) {
        padding: 0;
    }
}

.page {
    position: relative;

    display: table;
    overflow: hidden;

    min-height: 100vh;
    margin: auto;
    padding: 0;

    border: none;
    background-color: $foreground-color;
    box-shadow: $shadow-panel;

    @media screen and (max-width: 48rem) {
        display: block;
    }
}

.page-content {
    display: table-cell;

    vertical-align: top;

    @media screen and (max-width: 64rem) {
        display: block;

        min-width: 100%;
    }
}

.page-content-inner {
    position: relative;

    padding: $padding-medium $padding-large;
}

.page-header {
    padding: $padding-medium $padding-large;

    color: $foreground-color;
    background: $accent-gradient;
}

.page-content-primary {
    max-width: 36rem;
}

.page-content-secondary {
    position: relative;

    max-width: 20rem;

    transition: max-width 0.4s ease-in-out, border-left 0.4s ease-in-out, opacity 0.1s ease-in-out 0.25s;
    white-space: nowrap;

    opacity: 1;
    border-left: $padding-medium solid transparent;

    @media screen and (max-width: 64rem) {
        max-width: 36rem;
        height: 64rem;

        transition: none;

        border-left: 0 solid transparent;

        &.hidden {
            display: none;
        }
    }

    &.hidden {
        max-width: 0;

        transition: max-width 0.4s ease-in-out, border-left 0.4s ease-in-out, opacity 0.1s ease-in-out;

        opacity: 0;
        border-left-width: 0;
    }
}

.container-scroll {
    overflow-y: auto;

    flex-shrink: 1;
}

table {
    position: relative;

    overflow: auto;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    table-layout: fixed;
    border-spacing: 0;

    vertical-align: top;

    border: none;
    border-collapse: collapse;

    tr {
        margin: 0;
        padding: 0;

        &:nth-child(even) {
            background-color: darken($foreground-color, 5%);
        }

        &:nth-child(odd) {
            background-color: $foreground-color;
        }

        &.row-highlight {
            color: $foreground-color;
            background-color: $accent-color;
        }
    }

    td,
    th {
        box-sizing: content-box;
        width: 100%;
        margin: 0;
        padding: $padding-gap $padding-small;

        border: $border-width solid $border-color;
    }
}
