.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;

    align-items: center;
    justify-content: center;
}

.flex-container {
    padding: $padding-small 0;
}

.flex-fill {
    flex: 1;
}

.flex-padding-gap {
    flex: $padding-gap 0;
}

.flex-padding-small {
    flex: $padding-small 0;
}

body {
    position: relative;

    overflow-x: hidden;

    margin: 0;
    padding: 0 $padding-medium;

    background-color: $background-color;

    @media screen and (max-width: $page-breakpoint-full) {
        padding: 0;
    }
}

div,
main,
header {
    display: block;

    box-sizing: border-box;
}

.page {
    position: relative;

    display: flex;
    flex-direction: row;

    max-width: 100vw;
    padding: 0;

    border: none;
    background-color: $foreground-color;
    box-shadow: $shadow-panel;

    @media screen and (max-width: $page-breakpoint-vertical) {
        flex-direction: column;
    }

    @media screen and (max-width: $page-breakpoint-full) {
        width: 100%;
    }
}

.page-content-inner {
    position: relative;

    display: flex;
    flex-direction: row;

    padding: $padding-medium $padding-large;

    @media screen and (max-width: $page-breakpoint-vertical) {
        display: block;
    }

    @media screen and (max-width: $page-breakpoint-small) {
        padding: $padding-small $padding-medium;
    }
}

.page-header {
    padding: $padding-medium $padding-large;

    color: $foreground-color;
    background: $accent-gradient;
    background-color: $accent-color;

    @media screen and (max-width: $page-breakpoint-small) {
        padding: $padding-small $padding-medium;
    }

    a {
        transition: letter-spacing 0.1s ease;
        letter-spacing: 0;

        color: $foreground-color;

        &:hover,
        &:focus {
            letter-spacing: 0.2rem;
        }

        &:active {
            letter-spacing: 0rem;
        }
    }
}

.page-content-primary {
    max-width: 36rem;

    flex: 36rem;
}

.page-content-secondary {
    max-width: 16rem;

    transition: max-width 0.4s ease-in-out, border-left 0.4s ease-in-out, opacity 0.1s ease-in-out 0.25s;
    white-space: nowrap;

    opacity: 1;
    border-left: $padding-medium solid transparent;

    flex: 16rem;

    @media screen and (max-width: $page-breakpoint-vertical) {
        transition: none;

        border-left: 0 solid transparent;

        &.hidden {
            display: none;
        }
    }

    &.hidden {
        max-width: 0;

        transition: max-width 0.4s ease-in-out, border-left 0.4s ease-in-out, opacity 0.1s ease-in-out;

        opacity: 0;
        border-left-width: 0;
    }
}

.page-content-sticky {
    position: sticky;
    top: $padding-medium;

    height: 100%;
    max-height: calc(100vh - #{2 * $padding-medium});

    @media screen and (max-width: $page-breakpoint-vertical) {
        height: auto;
        max-height: none;
    }
}

.page-content-scrollable {
    overflow: auto;
}

.page-content {
    @media screen and (max-width: $page-breakpoint-vertical) {
        width: 100%;
        max-width: 36rem;
    }

    @media screen and (max-width: $page-breakpoint-full) {
        max-width: 100%;
    }
}

.container-scroll {
    overflow-y: auto;

    flex-shrink: 1;
}

table {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    table-layout: fixed;
    border-spacing: 0;

    vertical-align: top;

    border: none;
    border-collapse: collapse;
    background-color: $foreground-color;

    thead {
        display: table-header-group;

        th {
            text-align: left;

            font-weight: 700;

            &.header-right {
                text-align: right;
            }
        }
    }

    tr {
        margin: 0;
        padding: 0;

        &:nth-child(even) {
            background-color: darken($foreground-color, 5%);
        }

        &:nth-child(odd) {
            background-color: $foreground-color;
        }

        &.row-highlight {
            color: $foreground-color;
            background-color: $accent-color;
        }
    }

    td,
    th {
        width: 100%;
        margin: 0;
        padding: $padding-gap $padding-small;

        text-align: left;

        border: $border-width solid $border-color;

        font-weight: 400;
    }
}
