@mixin font-heading {
    font-family: "Roboto Slab", "Times New Roman", Times, serif;
    font-weight: 400;
}

@mixin font-body {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
button {
    margin: 0;
    padding: 0;

    text-decoration: none;

    font-size: 1rem;

@include font-body;
}

body {
    line-height: 1.5;

@include font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-heading;
}

h1 {
    font-size: 2rem;
}

h2 {
    color: $accent-color;

    font-size: 1rem;
}

.text-highlight {
    color: $accent-color;
}

.text-description {
    color: $text-color-detail;

    font-size: 0.8rem;
    font-style: italic;
}

.text-input-heading {
    margin-bottom: $padding-gap;

    color: $text-color-detail;

    font-size: 0.8rem;
    font-weight: 700;
}

.text-ruled {
    position: relative;

    width: 100%;
    margin: $padding-small 0;

    text-align: center;
    text-transform: lowercase;

    color: $text-color-detail;
    border-bottom: $border-width solid $border-color;

    font-style: italic;
    line-height: 0;

    span {
        padding: 0 $padding-small;

        background-color: $foreground-color;
    }
}

.text-generated-word {
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;

    opacity: 1;

    font-size: 1.4rem;

    &.text-generated-placeholder {
        color: $text-color-detail;
    }

    &.text-generated-error {
        color: $text-color-error;
    }

    &.hidden {
        transition: opacity 0.1s ease-in, transform 0.1s ease-in;
        transform: translateY(0.4rem);

        opacity: 0;
    }
}
