@mixin font-heading {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@mixin font-subheading {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

@mixin font-body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
    margin: 0;
    padding: 0;

    text-decoration: none;

    font-size: 1rem;
    font-weight: 400;

@include font-body;
}

body {
    color: $text-color;

    line-height: 1.5;

@include font-body;
}

h1 {
    font-size: 2rem;

@include font-heading;
}

h2 {
    margin: $padding-gap 0;

    text-transform: uppercase;

    color: $accent-color;

    font-size: 1.2rem;

@include font-subheading;
}

h3 {
    position: relative;

    margin: $padding-gap 0 $padding-small;

    letter-spacing: 0.02rem;
    text-transform: uppercase;

    color: $accent-color;

    font-size: 0.9rem;
    font-weight: 700;

@include font-subheading;
}

h4,
.heading-description {
    margin: $padding-gap 0;

    letter-spacing: 0.02rem;
    text-transform: uppercase;

    color: $text-color-detail;

    font-size: 0.8rem;
    font-weight: 700;

@include font-subheading;
}

p {
    margin-bottom: 0.2rem;
}

.text-highlight {
    color: $accent-color;
}

.text-placeholder {
    color: $text-color-detail;
}

.text-error {
    color: $text-color-error;
}

.text-success {
    color: $text-color-success;
}

.text-description {
    color: $text-color-detail;

    font-size: 0.8rem;
    font-style: italic;
}

.text-status {
    font-size: 0.8rem;
    font-weight: 700;
}

.text-transition {
    transition: color 0.1s ease, opacity 0.1s ease;

    opacity: 1;

    &.hidden {
        opacity: 0;
    }
}

.text-ruled {
    display: flex;

    width: 100%;

    text-align: center;

    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        position: relative;

        margin: 0 $padding-small 0 0;

        content: "";

        border-bottom: $border-width solid;

        flex: 1 0 $padding-small;
    }

    &::after {
        margin: 0 0 0 $padding-small;
    }

    &.text-ruled-divider {
        text-transform: lowercase;

        color: $text-color-detail;

        font-style: italic;

        &::before,
        &::after {
            top: 0.02rem;

            border-color: $border-color;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
        margin: 0;
    }
}

.text-generated-word {
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;

    opacity: 1;

    font-size: 1.4rem;

    &.hidden {
        transition: opacity 0.1s ease-in, transform 0.1s ease-in;
        transform: translateY(0.4rem);

        opacity: 0;
    }
}
