@mixin font-heading {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

@mixin font-subheading {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

@mixin font-body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
button {
    margin: 0;
    padding: 0;

    text-decoration: none;

    font-size: 1rem;
    font-weight: 400;

@include font-body;
}

body {
    line-height: 1.5;

@include font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: $padding-gap;
}

h1 {
    font-size: 2rem;

@include font-heading;
}

h2 {
    color: $accent-color;

    font-size: 1.2rem;

@include font-subheading;
}

h3 {
    letter-spacing: 0.02rem;
    text-transform: uppercase;

    font-size: 1rem;
    font-weight: 700;

@include font-subheading;
}

h4 {
    font-size: 1rem;
}

.heading-description {
    margin-bottom: $padding-gap;

    letter-spacing: 0.02rem;
    text-transform: uppercase;

    color: $text-color-detail;

    font-size: 0.8rem;
    font-weight: 700;

@include font-subheading;
}

p {
    margin-bottom: 0.2rem;
}

.text-highlight {
    color: $accent-color;
}

.text-placeholder {
    color: $text-color-detail;
}

.text-error {
    color: $text-color-error;
}

.text-success {
    color: $text-color-success;
}

.text-description {
    color: $text-color-detail;

    font-size: 0.8rem;
    font-style: italic;
}

.text-status {
    font-size: 0.8rem;
    font-weight: 700;
}

.text-transition {
    transition: color 0.1s ease, opacity 0.1s ease;

    opacity: 1;

    &.hidden {
        opacity: 0;
    }
}

.text-ruled {
    position: relative;

    width: 100%;
    margin: $padding-small 0;

    text-align: center;
    text-transform: lowercase;

    color: $text-color-detail;
    border-bottom: $border-width solid $border-color;

    font-style: italic;
    line-height: 0;

    span {
        position: relative;
        top: -0.04rem;

        padding: 0 $padding-small;

        background-color: $foreground-color;
    }
}

.text-generated-word {
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;

    opacity: 1;

    font-size: 1.4rem;

    &.hidden {
        transition: opacity 0.1s ease-in, transform 0.1s ease-in;
        transform: translateY(0.4rem);

        opacity: 0;
    }
}
