<!-- Included for IE support-->
<script>
    document.createElement('header');
    document.createElement('section');
    document.createElement('main');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('nav');
    document.createElement('footer');
</script>

<!-- Check for JavaScript -->
<noscript>
    <style>
.main {
    display: none;
}


    </style>

    <div aria-label="Content" id="PageError" style="padding: 24px;">
        <h1>Oolong</h1>
        <h2>JavaScript not Enabled</h2>
        <p>Please enable JavaScript in your browser to use Oolong.</p>
    </div>
</noscript>

<div aria-label="Content" id="PageError" style="display: none; padding: 24px;">
    <h1>Oolong</h1>
    <h2>Browser not Supported</h2>
    <p>Your browser is not supported, please update to a newer browser to continue.</p>
</div>

<script src="{{ '/assets/js/modernizr.min.js' | relative_url }}"></script>

<script>
    try {
        // Check browser script support
        eval("let x = 0;");
        eval("const X = 0;");
        // Check browser CSS support
        if (!Modernizr.flexbox) {
            throw new Error("No fllexbox support");
        }
    } catch (ex) {
        // Hide other content
        var pageWrapper = document.getElementById("PageWrapper");
        pageWrapper.style.display = "none";
        // Show error content
        var pageError = document.getElementById("PageError");
        pageError.style.display = "block";
    }
</script>
