@charset "utf-8";

// Text
$text-color: rgba(0, 0, 0, 0.9) !default;
$text-color-detail: rgba(0, 0, 0, 0.4) !default;
$text-color-error: rgba(216, 27, 27, 0.9) !default;
$text-color-success: rgba(39, 148, 17, 0.9) !default;

// Color
$background-color: #efefef !default;
$foreground-color: #ffffff !default;
$accent-color: #2282d1 !default;
$accent-color-hover: lighten($accent-color, 10%) !default;
$accent-color-active: lighten($accent-color, 5%) !default;
$accent-color-focus: lighten($accent-color, 45%) !default;
$accent-gradient: linear-gradient(45deg, darken($accent-color, 10%), $accent-color, lighten($accent-color, 10%));

// Layout
$padding-large: 36px !default;
$padding-medium: 24px !default;
$padding-small: 12px !default;
$padding-gap: 4px !default;
// Breakpoints
$page-breakpoint-large: 64rem !default;
$page-breakpoint-medium: 48rem !default;
$page-breakpoint-small: 24rem !default;
$page-breakpoint-vertical: $page-breakpoint-large !default;
$page-breakpoint-full: $page-breakpoint-medium !default;
// Border
$border-width: 1px !default;
$border-radius: 0.5rem !default;
$border-color: rgba(0, 0, 0, 0.2) !default;

// Shadows
$shadow-panel: 0 0 8px rgba(0, 0, 0, 0.25) !default;
$shadow-dialog: 0 4px 24px rgba(0, 0, 0, 0.4) !default;
$shadow-header: 0 1px 4px rgba(0, 0, 0, 0.25) !default;

// Import partials.
@import
    "content/text",
    "content/layout",
    "content/dialog",
    "content/input",
    "content/lists",
    "content/loading"
;
