<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>
    <div class="main flex-center" id="PageWrapper">
        <div class="page">
            <header aria-label="Header" class="page-header">
                <a href="/oolong/">
                    <h1>Oolong</h1>
                </a>
            </header>

            {{ content }}
        </div>
    </div>

    {%- include _meta/browser-check.html -%}

    <script src="{{ '/assets/js/inputNumber.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/inputAccordion.js' | relative_url }}"></script>
</body>

</html>
