<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>
    <script>
        document.createElement('header');
        document.createElement('section');
        document.createElement('main');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('nav');
        document.createElement('footer');
    </script>

    <div class="page" id="PageWrapper">
        <header class="page-content page-header">
            <a href="/oolong/">
                <h1>Oolong</h1>
            </a>
        </header>

        <main aria-label="Content">
            {{ content }}
        </main>
    </div>

    <div aria-label="Content" id="PageError" style="display: none; padding: 24px;">
        <h1>Oolong</h1>
        <h2>Browser not Supported</h2>
        <p>Your browser is not supported, please update to a newer browser to continue.</p>
    </div>

    <script>
        try {
            // Check browser support
            eval("let x = 0;");
            eval("const X = 0;");
        } catch (ex) {
            // Hide other content
            var pageWrapper = document.getElementById("PageWrapper");
            pageWrapper.style.display = "none";
            // Show error content
            var pageError = document.getElementById("PageError");
            pageError.style.display = "block";
        }
    </script>

</body>

</html>
