---
layout: default
---

{%- include dialog-preset-select.html -%}


<main aria-label="Content" class="page-content-inner">
    <div class="page-content page-content-primary">
        <h2>Data</h2>

        <div class="flex-vertical flex-container">
            <label for="InputLoadOrder" class="heading-description">Order</label>
            <div class="flex-horizontal">
                <input type="number" name="loadorder" min="1" placeholder="Order" value="4" id="InputLoadOrder">
            </div>

            <div class="flex-padding-small"></div>
            <p class="text-description">
                Order determines how many previous values to look at when generating the next value.
                High order will produce an output more similar to the input,
                while low order will produce a more random result.
            </p>
        </div>

        <h3 class="text-ruled"><span>Source</span></h3>

        <div class="flex-vertical flex-container">
            <label class="heading-description">Preset</label>
            <div class="flex-horizontal">
                <button id="ButtonLoadPreset">Load from Preset</button>
            </div>
        </div>

        <div class="text-ruled text-ruled-divider"><span>or</span></div>

        <div class="flex-vertical flex-container">
            <label for="InputUploadFileText" class="heading-description">File</label>
            <div class="flex-horizontal">
                <input type="text" name="loadfiletext" placeholder="Choose a File" disabled="disabled" class="input-connect-right input-connect-noborder-right"
                    id="InputUploadFileText">
                <input type="file" name="loadfile" id="InputUploadFile">
                <label class="button input-connect-left" for="InputUploadFile">Load File</label>
            </div>

            <div class="flex-padding-small"></div>
            <div class="flex-horizontal">
                <button id="ButtonLoadFile">Update from File</button>
            </div>
        </div>

        <div class="text-ruled text-ruled-divider"><span>or</span></div>

        <div class="flex-vertical flex-container">
            <label for="InputUploadText" class="heading-description">Text</label>
            <div class="flex-horizontal">
                <textarea type="text" name="loadtext" placeholder="Text" autocomplete="off" rows="4" id="InputUploadText"></textarea>
            </div>

            <div class="flex-padding-small"></div>
            <div class="flex-horizontal">
                <button class="" id="ButtonLoadText" class="input-connect-top">Update from Text</button>
            </div>
        </div>

        <div class="flex-vertical flex-container">
            <label for="TextCurrentData" class="heading-description">Current Source Data</label>
            <p class="text-description text-transition" id="TextCurrentData">No source data loaded</p>
            <p class="text-status text-transition" id="TextCurrentStatus">Load data to begin</p>
        </div>

        <h2>Generate</h2>

        <p class="text-generated-word text-placeholder" id="TextGeneratedWord">Oolong</p>

        <div class="flex-vertical flex-container">
            <div class="flex-horizontal">
                <button id="ButtonGenerateWord" class="input-connect-bottom">Generate</button>
            </div>
            <div class="flex-horizontal">
                <button id="ButtonGenerateReset" class="input-connect-top input-connect-right input-connect-noborder-top">Reset</button>
                <button id="ButtonGenerateStep" class="input-connect-top input-connect-left
                            input-connect-noborder-top input-connect-noborder-left">Next Step</button>
            </div>
        </div>

        <h2>Options</h2>

        <div class="flex-vertical flex-container">
            <label class="checkbox" for="OptionCheckboxSkipDuplicate">
                <input type="checkbox" name="skipduplicate" id="OptionCheckboxSkipDuplicate" checked>
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                    <polyline points="4 11 8 15 16 6"></polyline>
                </svg>
                <span>No Duplicates</span>
            </label>
            <p class="text-description">
                Not allowing duplicates will skip over generations that also appear in the source data.
                This means that each generated word or sentence will be unique, rather than a copy of something in the
                source material.
            </p>
        </div>
    </div>

    <div class="page-content page-content-secondary hidden" id="PageContentTableValues">
        <div class="page-content-sticky flex-vertical">
            <h2>Probability Table</h2>

            <label for="TextKey" class="heading-description">Key</label>
            <p id="TextKey"></p>

            <div class="flex-padding-small"></div>
            <div class="flex-fill page-content-scrollable">
                <table class="table-key-values">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Chance</th>
                        </tr>
                    </thead>
                    <tbody id="TableKeyValues"></tbody>
                </table>
            </div>
        </div>
    </div>
</main>


<script src="{{ '/assets/js/chain.js' | relative_url }}"></script>
<script src="{{ '/assets/js/chainBaker.js' | relative_url }}"></script>
<script src="{{ '/assets/js/chainGenerator.js' | relative_url }}"></script>
<script src="{{ '/assets/js/oolong.js' | relative_url }}"></script>
